<!DOCTYPE html>
<html>
	<head>
		<title>Covid Vaccine Finder</title>
		<link type="text/css" rel="stylesheet" href="../static/style.css">
	</head>
	<body class="wallpaper">
		<div class="borderbox">
			<h1> Covid Vaccine Finder </h1>
		  	<h3> We can defeat this thing, one shot at a time </h3>
		</div>
        
        <div class="borderbox form">
            <div>
                <h3 class="success"> Successfully created your alert! <br /> Thank you. </h3>
            </div>
            <div>
            	<h3> Next Steps: </h3>
            	<div class="next">
	            	<ol>
	            		<h4><img src="../static/check.png" class="check"> Verify your email</h4>
	            			<ol>
	            				<li>Go to your inbox and look for an email from Amazon Web Services.</li>
	            				<li>Search for the Subject: <b>Amazon Web Services – Email Address Verification Request in region Asia Pacific (Mumbai)</b>.</li>
	            				<li>Look into promotions / updates / spam folders if you don't find it in your inbox.</li>
	            				<li>This is to ensure that you are indeed the person who is setting up the alert. We don't want to send this to people who haven't actually requested this service.</li>
	            				<li>Once you click the link in your email, we will be able to send you emails about the covid vaccine slots that open up. We will not be able to send the email if you do not do this step.</li>
	            			</ol>
	            		<h4><img src="../static/check.png" class="check"> Start getting email alerts</h4>
	            			<ol>
	            				<li>You will then start getting emails that have information about the covid vaccination centers and slots that open up in real-time</li>
	            				<li>You no longer need to open the Cowin app thousand times a day just to get your appointment</li>
	            			</ol>
	            		<h4><img src="../static/check.png" class="check"> Book the appointment and get the vaccine</h4>
	            	</ol>
            	</div>
            	<h4 class="success">Let's beat Covid!</h4>
            </div>	
        </div>
    </body>
</html>